<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
    <ol>
      <li>Activate screenreader</li>
      <li>Select an item from the select: Selected value is not announced</li>
      <li>Focus another element on the screen</li>
      <li>
        Select another value from the select: Previous value is announced
        instead of the current one
      </li>
    </ol>
    <div style="position: relative">
      <ion-select
        [(ngModel)]="selectedValue"
        okText="Okay"
        interface="action-sheet"
        cancelText="Dismiss"
      >
        <ion-select-option value="brown">Brown</ion-select-option>
        <ion-select-option value="blonde">Blonde</ion-select-option>
        <ion-select-option value="black">Black</ion-select-option>
        <ion-select-option value="red">Red</ion-select-option>
      </ion-select>
    </div>
  </section>
</ion-content>
